/*样式重置*/
body,h1,h2,h3,ul,li,p{margin:0;padding:0}
body{ font:12px/1.5 "宋体",arial, verdana, sans-serif}
h1,h2,h3{font-size:100%;font-weight:normal}
li{list-style:none}
img{border:0}
table{border-collapse:collapse;border-spacing:0}
a{text-decoration:none}
a:hover{text-decoration:underline}
.cle:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.cle{ display:inline-block}
.cle{ display:block}
.clear {clear: both;}
/*正式代码*/
body,html{
	font-size:100px;
	background-color:#eee;
}
/*标题栏开始*/
.page_title{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:0.57rem;
	color:#fff;
	background-color:#91d4da;
}
.prev_page{
	position:absolute;
	top:0.1675rem;
	left:0.05rem;
	width:1rem;
	height:0.235rem;
	font-size:0.235rem;
	line-height:0.235rem;
	text-align:center;
	cursor:pointer;
}
.page_title_name{
	margin:0 auto;
	font-size:0.235rem;
	line-height:0.57rem;
	text-align:center;
}
/*标题栏结束*/
/*导航栏开始*/
.nav{
	position:absolute;
	top:0.57rem;
	left:0;
	width:100%;
	height:0.58rem;
	background-color:#fff;
}
ul.nav_ul{
	position:absolute;
	top:0;
	left:0;
	width:100%;
}
li.nav_list{
	float:left;
	width:20%;
	font-size:0.19rem;
	line-height:0.54rem;
	text-align:center;
	color:#000;
}
li.nav_list:hover{
	border-bottom:0.04rem solid #8ed8d7;
	cursor:pointer;
}
/*导航栏结束*/
/*主体开始*/
.content{
	position:absolute;
	top:1.15rem;
	left:0;
	width:100%;
	height:auto;
	background-color:#eee;
}
/*幻灯开始*/
.carousel{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:2.74rem;
	background:url(../images/carousel_img.jpg) no-repeat center;
	background-size:cover;
}
/*幻灯结束*/

/*主体开始*/

